<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.pdf4664.notepad">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="org.pdf4664.notepad.activities.ChooserActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="org.pdf4664.notepad.activities.EditorActivity" />
        <activity android:name="org.pdf4664.notepad.dialogs.FileNameDialog" />
        <activity android:name="org.pdf4664.notepad.activities.WebActivity" />
        <activity android:name="org.pdf4664.notepad.activities.TemplateActivity"></activity>
    </application>

</manifest>